<a href="https://colab.research.google.com/github/BreakoutMentors/Data-Science-and-Machine-Learning/blob/main/machine_learning/lesson%202%20-%20logistic%20regression/challenges/challenge_logistic_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Logistic regression with Airbnb data
The goal in this challenge is to build a logistic regression classifier to predict the room type of New York City Airbnb listings using other features. Use PyTorch to build, train, and evaluate the model.

Challenges:
1. Load and prepare the Airbnb dataset.
2. Build the model.
3. Train the model.
4. Evaluate the model.
5. Draw conclusions.

In [4]:
# import the libraries we need
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# PyTorch
import torch
import torch.nn

# 1. Load and prepare the data 
Load the dataset into a pandas dataframe, and prepare it for the model. 

Hints: 
- Define the features ($\mathbf{x}$) and labels ($y$). We haved used the Pandas `map` function to convert the Airbnb's room_type to have rooms separated with entire homes and apartments.
- split the dataset into training and test sets
- separate the features and labels in training set and test set

In [13]:
data_url = 'https://raw.githubusercontent.com/BreakoutMentors/Data-Science-and-Machine-Learning/main/datasets/AB_NYC_2019.csv'
df = pd.read_csv(data_url)

In [14]:
print(df.room_type.value_counts())

print("\nI will convert 'room_type' to be binary between rooms and entire home/apts")

def change_room_type(room):
    # 1s for Entire homes and apartments
    if room == "Entire home/apt":
        return 1
    # 0s for shared and private rooms
    else:
        return 0

df['room_type'] = df['room_type'].map(change_room_type)
df.head()

Entire home/apt    25409
Private room       22326
Shared room         1160
Name: room_type, dtype: int64

I will convert 'room_type' to be binary between rooms and entire home/apts

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

In [ ]:
# your code here

# 2. Build your model
Build a model to model the relationship between the features $x$ (multiple features) and labels $y$.


Hints:
- use the `nn.Linear` class to define your linear model layer
- use the `nn.Sigmoid` function to define your sigmoid activation function
- define your loss function with "Binary Crossentropy"
- configure the optimization algorithm with stochastic gradient descent
- track the accuracy metric

In [ ]:
# your code here
class Logistic_Model(nn.Module):
    # Constructor
    def __init__(self, num_features):
        # Todo
    
    # Forward Method
    def forward(self, x):
        # Todo
        return x
num_features = #
model = Logistic_Model(num_features)

loss_fn = #
optimizer = #

# 3. Train your model
Now that you have a model, it's time to train it. Train your model for 100 epochs (i.e., iterations), and record the training, validation, and accuracy metrics in lists.

In [ ]:
# your code here

Visualize the binary crossentropy loss over the training process. Hint: create a line chart with the epoch (x) and the accuracy (y) variables.

In [ ]:
# your code here

# 4. Evaluate the model
Now that the model is trained, it's time to evaluate it using the test dataset, which you did not use when training the model. This gives you a sense of how well the model predicts unseen data, which is the case when you use it in the real world. Make sure to evaluate the model and visualize it's predictions against the true values. 

Hints: 
- visualize the predictions against the real labels using a `confusion matrix`.

In [ ]:
# your code here

# 5. Draw conclusions
Write up your conclusions about the model. Report the goal, the model design, and the results. Make sure to contextualize the model results as best you can.