<a href="https://colab.research.google.com/github/BreakoutMentors/Data-Science-and-Machine-Learning/blob/adam-basic-challenges/basics/challenges/Basic_Matplotlib_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

> Note: Always open in Colab for the best learning experience.

# Matplotlib Challenge

Here you will complete some tasks that were covered in the lesson, I will include some pictures of the plots you will reproduce through code.

In [1]:
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

## Plotting Lines

In the lesson, the first plot is showed that you can give one array or list to plot a line, but we will go ahead and skip that and plot one graph of multiple lines.

Here are the equations you will plot:
1. $y=\sqrt{x}$
 - Hint: $y=\sqrt{x}=x^\frac{1}{2}$
2. $y=x$
2. $y=2x$
3. $y=x^\frac{3}{2}$

It should look like this:

![figure_1](https://github.com/BreakoutMentors/Data-Science-and-Machine-Learning/blob/main/basics/challenges/Matplotlib%20Figures/figure_1.jpg?raw=true)

In [7]:
x = np.linspace(0, 5, 100)

# Make the plot below
plt.plot(x, x**(1/2), label='y=x^(1/2)')
plt.plot(x, x, label='y=x')
plt.plot(x, 2*x, label='y=2x')
plt.plot(x, x**(3/2), label='y=x^(3/2)')

plt.title('Different Equations')
plt.xlabel('x-axis')
plt.ylabel('y-axis')
plt.legend()
plt.savefig('figure_1.jpg')
plt.show()

## Showing Multiple Plots

After doing the one above, you are now going to separate all those lines into a 2x2 grid.

It should look like this:

![figure_2](https://github.com/BreakoutMentors/Data-Science-and-Machine-Learning/blob/main/basics/challenges/Matplotlib%20Figures/figure_2.jpg?raw=true)

In [11]:
x = np.linspace(0, 5, 100)

# TODO: Make the figure below

## Plotting Histograms

You are going to implement the [Chi-Squared Distribution](https://en.wikipedia.org/wiki/Chi-squared_distribution), use histograms to show the distribution. Below is the probability density function.


$
f(x) = 
\begin{cases} 
      \frac{x^{k/2-1}e^{-x/2}}{2^{k/2}\Gamma({k/2})} & x\geq 0 \\
      0 & \text{otherwise}
   \end{cases}
\\
$

$\Gamma \text{ is a function:}$

$\Gamma(n)=(n-1)!$

$\Gamma(4)=(4-1)!=3!=3\cdot2\cdot1=6$

$\text{}$

$k \text{ is a scalar:}$

$k=3$

This is what it should look like:

![figure_3](https://github.com/BreakoutMentors/Data-Science-and-Machine-Learning/blob/main/basics/challenges/Matplotlib%20Figures/figure_3.jpg?raw=true)

In [26]:
# Defining Gamma Function
def gamma(n):
    return np.math.gamma(n)

# Function that takes x-values to get y_values from PDF to plot the PDF line
def chi_squared_distribution(x, k):
    numerator = x**((k/2)-1) * np.exp(-x/2)
    denomintaor = 2**(k/2) * gamma(k/2)

    return numerator/denomintaor

In [ ]:
k=3
chi_dist = np.random.chisquare(df=k, size=#TODO)

# The lower-bound for np.linspace is 0
x = np.linspace(#TODO)
y = chi_squared_distribution(x, k)

# TODO: Plot both the PDF and histogram below

## Scatter Plot with Pokemon Data

There is a pokemon dataset that gives data of different pokemon with some of their stats, you will create a scatterplot of Sp. Atk vs Total.

It should look like this:

![figure_4](https://github.com/BreakoutMentors/Data-Science-and-Machine-Learning/blob/main/basics/challenges/Matplotlib%20Figures/figure_4.jpg?raw=true)

In [57]:
import pandas as pd
pokemon_df = pd.read_csv("https://raw.githubusercontent.com/BreakoutMentors/Data-Science-and-Machine-Learning/main/datasets/pokemon.csv")
pokemon_df.head()

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 13 columns]

In [ ]:
# TODO: Make the scatter plot here

Once you got everything done like above, congratulations you finished!