<a href="https://colab.research.google.com/github/BreakoutMentors/Data-Science-and-Machine-Learning/blob/adam-basic-challenges/basics/challenges/Basics_Pandas_Challenges.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

> Note: Always open in Colab for the best learning experience.

# Pandas Challenge

Here you will apply your knowledge from the lesson to play around with pandas even more!

In [1]:
import numpy as np
import pandas as pd

import IPython.display as ipd

def display_series(series):
    ipd.display(series)

def display_df(df):
    ipd.display(ipd.HTML(df.to_html()))

## Working with Pandas Series

In [8]:
arr = np.random.randint(low=0, high=100, size = 30)
print(arr)

# TODO: Create a pandas series from the numpy array arr
s = #

# TODO: Calculate the mean, median, and standard deviation(std) for the series

[16  9 98  3  8  1 62 94 40 42 47 19 72 92 47 33 72 67 70 49 27  0 72 78
 11 59 13 80 18 33]

In [ ]:
# TODO: Slice array arr to get the last 4 values

# TODO: Slice the array arr to get the elements greater than its mean

In [ ]:
# TODO: Add the number 5 to every number in array arr
add5_series = #

## Working with Dataframe

In [ ]:
# TODO: Create a dictionary with arr and add5_series for new Dataframe
data_dict = {}

# TODO: Use data_dict to build dataframe
df =

In [ ]:
# TODO: View the index of df

In [ ]:
# TODO: View columns of df

In [ ]:
# TODO: Create a column called 'times3' where you multiply series 's' by 5

In [ ]:
# TODO: Select two columns from df that you choose

In [ ]:
# TODO: Select the rows where the numbers in the original s column is less than the mean of the 'times3' column

In [ ]:
# TODO: Use .head() method to look at the first 5 rows

In [9]:
# TODO: Use .shape attribute to look at the number of rows and cols that df has

In [ ]:
# TODO: Use .loc[] to select rows 10-15

In [ ]:
# TODO: Use .loc[] to select a column and then use .nunique() and .value_counts() on that column separately

In [ ]:
# TODO: View the distribution of one column using a histogram (.hist())

In [ ]:
# TODO: Create a scatterplot of two columns

In [ ]:
# TODO: Concatenate the two df's together both column-wise and row-wise separately

In [ ]:
# TODO: Create a new column that has the number 10 in all elements

In [ ]:
# TODO: Perfom an inner join on the last 'combined' dataframe and 'df' on a specific column