In [ ]:
import pandas as pd
import numpy as np

# Data Structures

## Series

### Initializing from lists
Let's create a series object to store 5 students' names and their respective ages. Store the series into name_age and make sure to set the index to names.

In [ ]:
names = ['John', 'Ethan', 'Fiona', 'Iman', 'Ben']
ages  = [14, 15, 17, 18, 15]
name_age = None # Replace None with your code
name_age

### Initializing from dictionary
Let's create a series object to store 5 students' names and their respective favorite colors. Store the series into name_color.

In [ ]:
name_color_dict = {
    "Name": "Favorite Color",
} # Think of 5 random names and colors
name_color = None # Replace None with your code
name_color

## DataFrame

### Initializing from lists and dictionary

Create a pandas DataFrame from the following lists:

In [ ]:
names = ['Alice', 'Bob', 'Charlie']
ages = [15, 17, 14]
emails = ['alice@example.com', 'bob@example.com', 'charlie@example.com']
name_emails_dict = {
    'name': names,
    # age here
    # email here
}
name_emails = None # Replace None with your code
name_emails

### Initializing from numpy array and lists

Create a pandas DataFrame from the following NumPy array and lists:

In [ ]:
data = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
data_index=['Row 1', 'Row 2', 'Row 3']
data_columns=['A', 'B', 'C']
data_df = # Replace with pd.DataFrame(?, index=?, columns=?)
data_df

# Importing Datasets

Let's load in all the datasets.

For students, set the index column to be `'id'`.

For athletes/academics, set the index column to be 0.

In [ ]:
students_url = 'https://raw.githubusercontent.com/BreakoutMentors/Data-Science-and-Machine-Learning/main/datasets/students.csv'
athletes_url = 'https://raw.githubusercontent.com/BreakoutMentors/Data-Science-and-Machine-Learning/main/datasets/student_athletes.csv'
academics_url = 'https://raw.githubusercontent.com/BreakoutMentors/Data-Science-and-Machine-Learning/main/datasets/student_academics.csv'

# students =
# athletes = pd.read_csv(athletes_url, index_col=0)
# academics =

Print the first 5 elements of students
(use `.head()`)

Print the first 5 elements of athletes
(use `.head()`)

Print the first 10 elements of academics
(use `.head()`)

# Exploring the Data

Use `describe` to get an overview of `athletes`.

Answer:
- How many student records are there?
- What's the average grade level of the athletes?

Print the `'sport'` column in `student_athletes` using `[ ]`.

Print the number of players in each sport. (Hint: use `value_counts`)

# Manipulating Data: Add, Rename, and Drop Columns

Create a new column `'ScoreIsA'` which tells whether a student scored above a 90.

Hint: Use the `>` operator.

In [ ]:
# academics['ScoreIsA'] =
# academics

Rename the column to be `'A'`.

In [ ]:
# academics =
# academics

Drop the `'A'` column.

In [ ]:
# academics =
# academics

# Filtering Data

Filter for `'Swimming'` players in `athletes['sport']`.

In [ ]:
# isSwimmer =

Use isSwimmer to grab all the swimmers in athletes.

Hint: Use `isSwimmer`.

In [ ]:
# swimmers =
# swimmers

# Sorting Data

Sort the athletes by their `'hours training'` from highest-to-lowest (descending) using `'id'` as a tie-breaker in increasing (ascending) order.

Hints:
- Use `sort_values`
- the parameter `by` can take a list of column names and `ascending` can take a list of booleans.

In [ ]:
# sorted_athletes =
# sorted_athletes

# Grouping and Aggregating Data

Use `groupby` to group the student athletes by their `'id'`.

In [ ]:
# athlete_ids =

Now, call `apply(list)` on the `'sport'` column of athlete_ids.

The apply() function is used to apply the list() function to the "sport" column within each group. This converts the individual sports values in each group into a list of sports.

In [ ]:
# athlete_ids =

# athlete_ids = athlete_ids.reset_index(name='sports').set_index('id')
# athlete_ids

# Merging Two Dataframes

The DataSets are great on their own but they can be give us more information by merging them together!

First, let's merge together `academics` and `athlete_ids` on the `'id'` column.

Hint: `pd.merge` has an argument `on` which accepts column names.

What do you expect the merged dataframe to look like?

In [ ]:
# merged_df =
# merged_df.head(20)

We're left with only student-athletes and their corresponding sport/academic information!
Now let's see what happens when we merge with `students`.

In [ ]:
# This code is already completed for you, just uncomment it
# merged_df = pd.merge(students, merged_df, left_on=['id', 'name', 'grade'], right_on=['id', 'name', 'grade level']).drop(columns='grade level')
# merged_df.head(20)

Now we have only see the most recent school year! This is because the `'grade'` column in `students` only stores the student's most recent school year, whereas in `academics` we store every academic year of the students.

# Congratulations!
That's all for now. Good work!